/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header nav {
    width: 80%;
    margin: auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li.left {
    margin-right: auto; /* Mover hacia la izquierda */
}

header nav ul li.center {
    margin: 0 10px; /* Espacio alrededor de los elementos centrados */
}

header nav ul li.right {
    margin-left: auto; /* Mover hacia la derecha */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 4em 0;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.portfolio-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 30%;
    margin-bottom: 20px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

#contact {
    padding: 4em 0;
    margin-bottom: 100px; /* Espacio entre contact y footer */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
