/* styles.css */
iframe {
    width: 100%;
    height: 500px; /* Esto permite que la altura se ajuste automáticamente al contenido */
    max-height: 600px; /* Establece una altura máxima para el iframe si es necesario */
}
/* Añade estilos para el enlace al currículum en dispositivos móviles */
.curriculum-link {
    display: none; /* Por defecto ocultar en dispositivos de escritorio */
    padding: 10px 20px; /*Tamaño del botón*/
    background-color: #333; /*Color de fondo*/
    color: #fff; /*Color de texto*/
    text-decoration: none; /Sin subrayado*
    text-align: center;
    border-radius: 5px; /*Bordes redondeados*/
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    /* Mostrar enlace al currículum solo en dispositivos móviles */
    .curriculum-link {
        display: inline-block;
    }
    
    /* Ocultar el contenedor de iframe en dispositivos móviles */
    .curriculum-embed {
        display: none;
    }
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header nav {
    width: 80%;
    margin: auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li.left {
    margin-right: auto; /* Mover hacia la izquierda */
}

header nav ul li.left-center {
    margin-right: auto; /* Mover hacia la izquierda */
    margin-left: auto; /* Mover hacia el centro */
}

header nav ul li.right-center {
    margin-left: auto; /* Mover hacia el centro */
    margin-right: auto; /* Mover hacia la derecha */
}

header nav ul li.right {
    margin-left: auto; /* Mover hacia la derecha */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
.header_image{
	cursor: pointer;
	height: 85%;
	border-radius: 50%;
	margin: auto 0px auto 10px;
}

section {
    padding: 4em 0;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.portfolio-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Añadido para espacio entre columnas */
}

.portfolio-item {
    width: 30%;
    margin-bottom: 20px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

/* Contenedor para Contacto y Voluntariado en la misma fila */
.contact-voluntariado-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-voluntariado-wrapper section {
    width: 48%; /* Ajusta el ancho de cada sección para que ocupen la mitad del espacio */
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .contact-voluntariado-wrapper section {
        width: 100%; /* Para dispositivos móviles, hacer que ocupen todo el ancho */
    }
}

#contact {
    padding: 4em 0;
    margin-bottom: 100px; /* Espacio entre contact y footer */
}
.social_network_img{
	width: 30px;
	height: 30px;
	margin-right: 10px; /* Ajusta el espacio entre las imágenes */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* Media Query para dispositivos móviles */

@media (max-width: 768px) {
    iframe {
        width: 100%;
        height: 100%; /* Altura fija para dispositivos móviles */
        max-width: 100%;
    }
}
